body {
  background-image: url("about-us-background-image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 39%;
}
#Logo {
  display: inline-block;
  margin:48% 0% -22.1% -39%;
  position: absolute;
}
#Line1 {
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
  color: #ffcf00;
  font-size: 54px;
  padding: 7% 0% 0% 7%;
}

#Button {
  background-color: white;
  margin: 30% 0% 0% -31%;
  padding: 8px 18px 8px 18px;
  display: inline-block;
  position: absolute;
  font-size: 25px;
  border-radius: 25px;
  z-index: 1;
}
#Button:hover {
  background-color: #ffcf00;
}
#TextInButton {
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  color: black;
}
#Location {
  position: relative;
  display: inline-block;
  position: absolute;
  bottom: 4%;
    left: 57%;
}
#AboutCompany {
  line-height: 20px;
  font-family: "Ubuntu", sans-serif;
  position: absolute;
    bottom: 1%;
    left: 8%;
}
#Address {
  line-height: 23px;
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
  position: absolute;
  bottom: 0.3%;
  right: 26%;
}
#Call {
  display: inline-block;
  position: absolute;
  bottom: 8%;
  right: 22.2%;
}
#Mail {
  display: inline-block;
  position: absolute;
  bottom: 1%;
  right: 22%;
}

#PhoneNumber
{
  font-family: "Ubuntu", sans-serif;
  position: absolute;
    bottom: 5.5%;
    right: 10.1%;
    font-size: 20px;
}
#EmailId
{
  font-family: "Ubuntu", sans-serif;
  position: absolute;
  bottom: -0.5%;
  right: 0.5%;
  font-size: 20px;
}